tr{
  background-color: #dde1e5;
}
th, td {
  border-bottom: 1px solid white;
  padding: 10px;
  text-align: left;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
.light-btn{
  width: 150px;
  font-size: 1.5rem;
}
.search-bar{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-right: 4rem;
  border-radius: 0.5rem;
  height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-color: #111827;
  border-style: double;
}
.search-lupa{
  position: relative;
  top: 4px;
  right: 38px;
  margin-top: 0.75rem;
  margin-right: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.lupa-img{
  max-width: 18px;
}
