tr{
  background-color: #dde1e5;
}
th, td {
  border-bottom: 1px solid white;
  padding: 10px;
  text-align: left;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
.light-btn{
  width: 150px;
  font-size: 1.5rem;
}
.red-box{
  text-align: center;
  padding: 8px;
  color: red;
  background-color: #ebd5d5;
  border-radius: 25px;
  width: 130px;
  border: 0.1px red solid;
}
.blue-box{
  text-align: center;
  padding: 8px;
  color: #007bff;
  background-color: #d0f1fc;
  border-radius: 25px;
  width: 130px;
  border: 0.1px #007bff solid;
}
.green-box{
  text-align: center;
  padding: 8px;
  color: #62cd5c;
  background-color: #e9f9e7;
  border-radius: 25px;
  width: 130px;
  border: 0.1px #62cd5c solid;
}
.selected-items-list{
  width: fit-content;
}
.selected-item-row{
  background-color: #a8abb2;
  padding: 1rem;
  margin-bottom: 1rem;
}

